#col_flex {
  background: $bg2;
  border-left: none !important;
}

.monkey_scroll_hider {
  background: $bg2;
}

#flex_contents {
  .heading,
  .heading_text,
  .subheading {
    background: $bg;
    color: $text;
    border-color: $borderDim;

    .menu_icon {
      color: $text !important;
    }
  }
  .subheading:not(:empty)#mentions_options {
    background: $bg;
    border-top: 0;
    border-bottom: 1px solid $bg;
    color: $text;
  }

  .flexpane_tab_bar {
    li.active {
      border-bottom-color: $accent;
    }
  }

  .help {
    color: $text !important;
    border-top-color: $accent !important;
  }

  .p-file_flexpane.p-file_flexpane--list {
    background: $bg;
  }
}

.c-pillow_file_container.p-contextual_file.p-file_list__file.c-pillow_file_container--full_width {
  background: $bg;
  color: $text
}

#details_tab {
  .channel_page_section {
    background: $bg2 !important;
    border-top: 1px solid $borderDim !important;

    .section_header,
    .section_title {
      color: $text !important;
    }
  }

  .conversation_details {
    .member_info_timezone {
      border-top-color: $borderDim;
    }
  }

}

// Channel foreword
.p-message_pane__foreword {
  &__description {
    color: $text !important;
  }

  .c-member__other-names--large {
    color: $textDim !important;
  }
}

.c-channel_insights__drawer_title {
  color: $textBright;
}

.c-channel_insights__member_count {
  color: $primary;
  .ts_icon_user {
    color: $primary;
  }
}

.channel_page_members,
.channel_page_about,
.channel_page_pinned_items,
.channel_page_shared_files,
.channel_page_notif_prefs,
.global_notification_block,
#fs_modal_header {
  background: $bg !important;
  color: $text !important;
}
